<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello</title>
	<style>
		.error-label{
			color: red;
		}
		input{
			display: block;
			margin-top: 5px;
			border-radius: 3pt;
			width: 250px;
			padding: 5px;
			outline: 0;
		}
		input[type='submit']{
			width: 105px;			
		}
	</style>
</head>
<body>
	<h1>Login</h1>
	{% if error %}
		<label class="error-label"> {{ error }} </label>
	{% endif %}
	<form method="POST">
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<p><input type="submit" value="Confirm"></p>
	</form>
</body>
</html>